body {
    background-color: #FFEBCD;
}
.container {
    display: grid;
    grid-template-areas:
      "header header"
      "menu content"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
  }
  .container > div {
    padding: 10px;

  }
  .container > div.header {
    grid-area: header;
    background-color: #DEB887;
    max-height: 50px;
  }
  .container > div.menu {
    grid-area: menu;
    background-color: #e9cfa9;
  }
  .container > div.content {
    grid-area: content;
    img:not(.disclude) {
        width: 200px;
        height: 200px;
    }
  }
  .container > div.footer {
    grid-area: footer;
    background-color: #DEB887;
    max-height: 50px;
    text-align: center;
  }

.container2 {
    display: grid;
    grid-template-areas:
      "header header"
      "content content"
      "footer footer";
      grid-template-columns: 1fr 3fr;
      grid-template-rows: auto 1fr auto;
      min-height: 100vh;
  }
  .container2 > div {
    padding: 10px;

  }
  .container2 > div.header {
    grid-area: header;
    background-color: #DEB887;
    max-height: 50px;               /*tämä toimii vaan tietokoneella. pienellä näytöllä siis navbar kusee*/
  }
  .container2 > div.menu {
    grid-area: menu;
    background-color: #e9cfa9;
  }
  .container2 > div.content {
    grid-area: content;
    place-self: center;
    /* laita pari prosenttia padding, kun mobiili */
    padding-bottom: 32vh;
        img:not(.disclude) {
        width: auto;
        height: 300px;
    }
    }
  .container2 > div.footer {
    grid-area: footer;
    background-color: #DEB887;
    max-height: 50px;           /*tämä toimii vaan tietokoneella. pienellä näytöllä siis navbar kusee*/
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0px;
  } 

  li {
    background-color: #DEB887;
    border-radius: 2%;
  }
li:before {
    content: "\2606";
    }

li:hover::before {
    content: "\2605";
}

p, h1, h2, h3, h4, a, ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

p {
  font-size: 18px;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

.topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;    
    font-size: 17px;

  }
  
  .topnav a:hover {
    background-color: #e9cfa9;
    color: black;

  }
  
  .topnav a.active {
    background-color: #c79d65;
    color: black;
  }